{% extends 'shop/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <ul class="list-group" id="item-list">
            <h3 class="text-center"> Liste de vos produits selectionnes dans votre panier merci de valider !!</h3>
  
 
        </ul>
    </div>
</div>
    


{% endblock %}
 {% block js %}
 <script type="text/javascript">
    if(localStorage.getItem('panier')==null){
        var panier={};

    }else{
        panier=JSON.parse(localStorage.getItem('panier'));
    }
    for(item in panier){
        let nom = panier[item][1];
        let quantite = panier[item][0];
        let itemString= `<li class="list-group-item d-flex justify-content-between align-items-center">
                ${nom}
           <span class="badge badge-primary badge-pill"> QTE ${quantite}</span>
        </li>`;
         $('#item-list').append(itemString);
    }
   

 </script>
 
 {% endblock %}