{% extends 'shop/base.html' %}

{% block content %}

<div class="row mt-5">
    <div class="col-md-12 mt-2">
        <h2 class="text-dark bg-warning text-center">Bonjour Mr\Mrs {{ name }} {{ prenom }} !WELCOME</h2>
        <h4 class="text-muted">Merci de nous avoir fait confiance Mrs/Mr {{ name }} {{ prenom }} .Nous avons recu votre commande vous serez livrez dans une (01) journee .MARIESHOP vous souhaite une excellente journee. A tres bientot !!</h4>
        <h2 class="text-white bg-success text-center">MARIESHOP, Nous Sommes Le Marche Digital Qui vous Simplifie La Vie</h2>

    </div>
</div>



{% endblock %}