

.navbar {
    background-color:crimson;
    padding: 40px;
    font-size: 30px;
    color: #ffffff;
}
.nav-item{
    font-style: italic;
}

.navbar li {
    display: inline-block;
    margin-right: 50px;
}

.navbar li:hover {
    background-color:red;

    
}
.logo{
    padding:0;
    margin: 0;
    font-size: 30px;
    color: #ffffff;
}
